[submodule "submodules/vim-code-dark"]
	path = submodules/vim-code-dark
	url = https://github.com/tomasiser/vim-code-dark
[submodule "submodules/dracula"]
	path = submodules/dracula
	url = https://github.com/dracula/vim
[submodule "submodules/CandyPaper.vim"]
	path = submodules/CandyPaper.vim
	url = https://github.com/dfxyz/CandyPaper.vim
